*.json
*.jpg
*.png
*.mp4
*.pt
*.pth
*.safetensors
__pycache__
*.pyc
*.log
*.txt
*.csv
*.jsonl
*.sample
*.xlsx
*.avi
*.mp3
*.wav
*.flac
*.zip
*.tar
*.gz
api/hmguo/NVIDIA-Linux-x86_64-*.run
api/hmguo/fastrag/database/JAKE/*.pkl
Search_R1/tmp
data/
api/